<h1>Add Product Page</h1>

<form method="post">
    <div class="mb-3">
        <label for="pwd" class="form-label ">Product Name:</label>
        <input type="text" class="form-control" name="productName">
    </div>
    <button class="btn btn-primary">Submit</button>
</form>