<h2>Add Brand</h2>

<form method="post">
    <div class="mb-3 mt-3">
        <label class="form-label">Brand Name:</label>
        <input type="text" class="form-control" placeholder="Enter Brand Name" name="brandName">
    </div>
    <div class="mb-3 mt-3">
        <label class="form-label">Displaing Text:</label>
        <input type="text" class="form-control" placeholder="Enter Displaing Text" name="brandDisplayingText">
    </div>
    <div class="mb-3 mt-3">
        <label class="form-label">Address:</label>
        <input type="text" class="form-control" placeholder="Enter Address" name="brandAddress">
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form> 